<li class="splide__slide p-4 flex-shrink-0">
  <div class="bg-white rounded-2xl shadow-lg overflow-hidden hover:shadow-2xl transition-shadow duration-300 relative flex flex-col h-full">
    {% if product.compare_at_price > product.price %}
      <div class="absolute top-3 left-3 flex flex-col space-y-1 z-10">
        <span class="bg-yellow-400 text-black text-sm font-semibold px-2 py-1 rounded-full">Best Seller</span>
        <span class="text-center bg-red-500 text-white text-sm font-semibold px-2 py-1 rounded-full">
          {% assign discount_percent = product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | round %}
          -{{ discount_percent }}%
        </span>
      </div>
    {% endif %}

    <a href="{{ product.url }}" class="block">
      <div class="w-full  aspect-[4/3]">
        {% if product.featured_image %}
          <img
            src="{{ product.featured_image | image_url: width: 600 }}"
            alt="{{ product.title }}"
            class="w-full h-full object-cover"
          >
        {% endif %}
      </div>
    </a>

    <div class="p-4 flex flex-col flex-1">
      <h3 class="text-2xl font-semibold text-gray-800 mb-2 line-clamp-2">{{ product.title }}</h3>
      {% if product.description != blank %}
        <p class="text-base text-gray-600 mb-3">{{ product.description | strip_html | truncate: 120 }}</p>
      {% endif %}

      <div class="mt-auto">
        <span class="inline-block bg-green-100 text-green-700 text-sm px-3 py-1 rounded-full mb-2">
          {{ product_sold }}+ items sold
        </span>

        <div class="flex justify-between items-baseline">
          <div class="flex items-baseline space-x-2">
            <span class="text-red-600 font-extrabold text-3xl">
              {{ product.price | money }}
            </span>
            {% if product.compare_at_price > product.price %}
              <s class="text-gray-400 line-through text-xl">
                {{ product.compare_at_price | money }}
              </s>
            {% endif %}
          </div>

          <div>
            <button class="bg-green-600 text-white py-2 px-3 md:px-6 rounded-full text-xl font-bold">Buy now</button>
          </div>
        </div>
        <div class="flex items-center text-yellow-400 text-3xl">
          <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
          <span class="text-gray-500 text-sm ml-2">({{ review_count }} reviews)</span>
        </div>
      </div>
    </div>
  </div>
</li>
